.App {
  text-align: center;
}

/* general --- start */
.header {
  font-size : 4em;
}

.centered {
  text-align : center;
}

.loading-blocked {
  position : absolute;
  z-index : 100;
  width : 100%;
  height : 100%;
  top : 0;
  left : 0;
  background-color : rgba(0, 0, 0, 0.418);
}

.loading-blocked span {
  color : whitesmoke;
  font-size : 32px;
  position:absolute;
  left: 50%;
  top : 50%;
  transform:translate(-50%,-50%);
}


.fl-left {
  float : left;
}

.fl-right {
  float : right;
}

.flex { 
  display:flex;
}

.h-centered-margin {
  margin-left : auto;
  margin-right : auto
}

.v-centered-margin {
  margin-top : auto;
  margin-bottom : auto;
}

.container {
  width : 95%;
}

a { 
  padding : 5px;
}
/* general --- end */

/* navbar --- start */
.nav {
  padding : 10px;
  width : 100%;
  height : 10%;
  box-sizing: border-box;
  overflow:hidden;
  background-color : whitesmoke;
}

.nav .link {
  position : relative;
  display:inline-flex;
  padding : 10px;

  background-color : transparent;
  color : #222222;
  border : 0;

  text-align : center;
  text-decoration: none;
  text-transform: capitalize;
  font-size : 1em;

  transition : .2s ease-in-out;
}

.nav .link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(60, 136, 146);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}

.nav .link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav .link:hover {
  transition : .2s ease-in-out;
}

.nav .link svg {
  margin-right : 5px;
}

.nav .link, .nav em {
  vertical-align : middle;
}

.welcome-message {
  border-right : 1px solid lightgray;
  padding-right : 10px;
}

/* navbar --- end */

/* form --- start */

.anim-movement {
  transition : all .5s ease-in-out;
}

.form {
  background-color : whitesmoke;
  width : 40%;
  padding-bottom : 4em;
  margin-bottom : 2em;
  
  position : relative;
  box-shadow: 10px 10px 6px -6px rgb(201, 201, 201);
}

.form .header {
  background-color : rgb(60, 136, 146);
  padding : 5px;
  color : whitesmoke;
  font-size : 3em;
}


.form a {
  position : absolute;
  bottom : 5%;
  left : 50%;
  transform:translate(-50%);
  font-size : 14px;
  text-decoration: none;
  transition : .2s ease-in-out;
}

.form a:hover {
  font-size : 16px;
}

/* form --- end */


/* inputs --- start */

.row {
  display:flex;
  position:relative;
  width:100%;
}

input[type=text],input[type=password], textarea, .input-select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-bottom : 4px solid lightblue;
  box-sizing:border-box;
  outline : none;
}

textarea {
  outline : none;
}

.input-select {
  -webkit-appearance: none;
  border-radius : 0;
  border-bottom : 4px solid lightblue;
  background-color : white;
  height : 100%;
}

.input-warning {
  color : red;
}

.input-fields {
  width : 75%;
}

.input-fields input, .input-fields textarea, .input-fields .input-select {
  margin-top : 2em;
}

.input-double .row {
  display: inline-block;
  width : 47.5%;
}

.input-double .row:nth-child(1) {
  float:left;
}
.input-double .row:nth-child(2) {
  float:right;
}

.input-double::after {
  content:"";
  clear:both;
  display:table;
}


.input-label {
  position: absolute;
  top : 5px;
  font-size : 12px;
  color : gray;
}

/* inputs --- end */

/* report container --- start */

.report-container {
  overflow: hidden;
  max-height : 85vh;
}

.report-container .report {
  flex : 0 1 350px;
}

.report-container .map{
  margin-top : 2em;
  flex : 1 0 50%;
  /* background-color : lightgray; */
}

.report-container .report .form {
  width : 100% !important;
  height : 100%;
  padding-bottom : 0;
  box-shadow : none;
}



.report-container .map .frame {
  /* padding : 1em; */
  border : 3px dotted red;
  width:95%;
  max-height : 100%;
  margin : 0 20px 0 20px;
}

.report-container .map .frame img {
  height:50%;
  width:100%;
}

/* report container --- end */

/* submit button --- start */


.submit-button {
  width : 100%;
  background-color : rgb(60, 136, 146);
  padding : 10px;
  font-size : 24px;
  color : white;
  border: 0;
  margin-top : 1em;
  transition: .2s ease-in-out;
}

.submit-button:hover {
  background-color : rgb(43, 106, 114);
}

/* submit button --- end */

/* error-box --- start */
.error-box {
  position : relative;
  overflow-y : scroll;
  width: 70%;
  padding : 0 10px 0 10px;
  background-color : rgb(225, 107, 107);
  color : whitesmoke;
  margin-left:auto;
  margin-right:auto;
  border-radius : 4px;
  text-align : center;
  font-weight : bold;
}

.close-tag {
  position : absolute;
  right : 5px;
  top : 5px;
  color : whitesmoke;
  transform : scale(0.9);
  transition : transform .3s ease-in;
}

.close-tag:hover {
  transform:scale(1);
  transition: transform .3s ease-in-out;
}

.error-box-appear {
  opacity: 0;
  transform:scale(0.9);
}
.error-box-appear.error-box-appear-active {
  opacity: 1;
  transform:scale(1);
  transition: all 200ms;
}
.error-box-enter {
  opacity: 0;
}
.error-box-enter.error-box-enter-active {
  opacity: 1;
  transition: all 200ms ease-in;
}
.error-box-leave {
  opacity: 1;
  height : 100%;
}
.error-box-leave.error-box-leave-active {
  opacity: 0;
  height : 0;
  transition: all 200ms ease-in;
}

/* error-box --- end */

/* table --- start */

.table {
  border-collapse: collapse;
  flex : 1 1 90%;
  text-align : center;
}

.table thead {
  background-color : rgb(60, 136, 146);
  color : whitesmoke;
}

.table th, .table td{
  padding : 8px;
}

.table th {
  font-weight : bold;
}

.table tbody tr:hover {
  background-color : whitesmoke;
}

.table tr:nth-child(even) {
  background-color : whitesmoke;
}

.table td:nth-of-type(1) {
  width : 100px;
}

.table td .description {
  max-width: 200px;
  max-height : 55px;
  overflow:scroll;
  overflow-wrap: break-word;
  margin-left : auto;
  margin-right : auto;
  scrollbar
}

/* table --- end */