.App {
  text-align: center;
}

.header {
  font-size : 4em;
}

.centered {
  text-align : center;
}

.centered-margin {
  margin-left : auto;
  margin-right : auto
}

.form {
  background-color : whitesmoke;
  width : 40%;
  padding-bottom : 5em;
}

.error {
  color : rgb(255, 101, 101);
  font-size : 1em;
  text-transform: capitalize;
}

.form .header {
  background-color : rgb(60, 136, 146);;
  padding : 5px;
  color : whitesmoke;
}


.input-warning {
  color : red;
}

a { 
  padding : 5px;
}

input[type=text],input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-bottom : 4px solid lightblue;
  box-sizing:border-box;
}

.row {
  position:relative;
  width:100%;
}

.input-fields {
  width : 75%;
}

.input-fields input {
  margin-top : 2em;
}

.input-double .row {
  display: inline-block;
  width : 47.5%;
}

.input-double .row:nth-child(1) {
  float:left;
}
.input-double .row:nth-child(2) {
  float:right;
}

.input-double::after {
  content:"";
  clear:both;
  display:table;
}


.input-label {
  position: absolute;
  top : 8px;
  font-size : 12px;
  color : gray;
}

.submit-button {
  width : 100%;
  background-color : rgb(60, 136, 146);
  padding : 10px;
  font-size : 24px;
  color : white;
  border: 0;
  margin-top : 1em;
  transition: .2s ease-in-out;
}

.submit-button:hover {
  background-color : rgb(43, 106, 114);
}
